* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_container {
    display: flex;
    width: 100vw;
    height: 70px;
    background-color: black;
    position: relative;
}
.search_bar {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: right;
}
.my_input {
    height: 50%;
    width: 20%;
    padding: 10px;
    align-self: middle;
}
.results_container {
    display: flex;
    width: 100vw;
    height: calc(100vh - 70px);
    text-align: center;
    background-color: grey;
    overflow: scroll;
}
.film_container {
    margin: 10px;
}
.film_container,
.film_container_hover {
    height: 500px;
    width: 330px;
    margin-right: 30px;
    border: 2px solid white;
}
.path_img {
    height: 100%;
    width: 100%;
}
.film_container > img:hover {
    display: none;
}
.film_container_hover {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.header_hover {
    height: 20%;
    width: 100%;
}
.main_hover {
    width: 100%;
    height: 60%;
    vertical-align: middle;
    overflow: scroll;
}
.footer_hover {
    width: 100%;
    height: 30%;
}
.flag {
    width: 100px;
    height: 67px;
}
.fa-star {
    color: yellow;
}

.serie_container {
    width: 50%;
}