* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main_container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.search_bar {
    width: 100%;
    height: 70px;
}

.film_container {
    width: 50%;
}
.serie_container {
    width: 50%;
}